@import '../../variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin: 2px;
    height: 24px;
    min-width: 24px;
    color: $colorBlue-400;
    border-radius: $rounded-sm;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    &:hover, &:focus {
      box-shadow: 0 0 0 0.2rem rgba($colorBlue-300, 0.3);
    }
  }
  a.active {
    color: $colorWhite;
    background-color: $colorBlue-300;
    font-weight: 700;
  }
}