@import '../../variables.scss';

.movieGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  
  .movieCard {
    flex: 1 1 100%;
    margin: 8px;
    background-color: $colorWhite;
    border-radius: $rounded;
    box-shadow: $shadowSubtle;
    cursor: pointer;
    & > .poster {
      width: 100%;
      border-radius: $rounded $rounded 0 0;
      user-select: none;
    }
    & > .description {
      padding: 8px;
      & > .movieTitle {
        font-weight: $textBold;
      }
      & > .movieDate {
        font-size: 14px;
        color: $colorGray-400;
      }
    }

    @media all and (min-width: 550px) {
      flex-basis: 40%;
      margin: 12px;
    }
    @media all and (min-width: 768px) {
      flex-basis: 30%;
      margin: 12px;
    }
    @media all and (min-width: 1080px) {
      flex-basis: 20%;
      margin: 12px;
    }
  }
}

.progress {
  position: relative;
  top: -36px;
}