{
  "extends": [
    "plugin:react/recommended",
    "plugin:import/warnings"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "standard",
    "react",
    "react-hooks",
    "promise",
    "eslint-plugin-import",
    "eslint-plugin-node"
  ],
  "rules": {
    "quotes": ["warn", "single"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "warn",
    "react/no-unknown-property": "warn",
    "space-before-function-paren": ["error", "always"],
    "space-in-parens": "warn",
    "space-before-blocks": "warn",
    "keyword-spacing": "warn",
    "semi": [1, "never"],
    "padded-blocks": 0,
    "indent": ["warn", 2, {
      "ignoredNodes": ["TemplateLiteral"]
    }],
    "object-curly-spacing": [1, "always"]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect", // React version. "detect" automatically picks the version you have installed.
      // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
      // default to latest and warns if missing
      // It will default to "detect" in the future
      "flowVersion": "0.53" // Flow version
    },
    "propWrapperFunctions": [
      // The names of any function used to wrap propTypes, e.g. `forbidExtraProps`. If this isn't set, any propTypes wrapped in a function will be skipped.
      "forbidExtraProps",
      {"property": "freeze", "object": "Object"},
      {"property": "myFavoriteWrapper"}
    ]
  }
}
