@import '../../variables.scss';

.header {
  height: 500px;
  display: flex;
}

.backdrop {
  position: absolute;
  left: 0;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.tint {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.backdropImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poster {
  margin: 24px;
  position: relative;
  object-fit: cover;
  width: 301px;
  height: calc(100% - 48px);
  border-radius: $roundedXl;
  box-shadow: $shadowSM;
}

.description {
  z-index: 1;
  margin: 64px 0;
  &--light {
    color: white;
  }
  &--dark {
    color: black;
  }
  & .score {
    margin: 24px 0;
    display: flex;
    align-items: center;
    span {
      padding: 0 12px;
      font-size: 20px;
    }
  }
}

.overview {
  font-size: 20px;
  font-weight: 700;
  padding: 16px 0;
  div {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
  & > span {
    font-weight: 500;
  }
}

.info {
  & > span {
    position: relative;
    margin: 0 12px;
  }
  & > span::before {
    font-size: 28px;
    content: '\2022';
    height: 100%;
    position: absolute;
    left: -12px;
    display: inline-flex;
    align-content: center;
    align-items: center;
    z-index: -1;
  }
}

.additional {
  .similarScroll {
    display: inline-flex;
    transform: translate(0, 0);
    animation: slidein 0.7s ease-out 1s alternate both  ;
  }
  .movieCard {
    width: 200px;
    img {
      width: 200px;
      height: 300px;
    }
  }
}

@keyframes slidein {
  from {
    transform: translate(250px, 0);
  }

  to {
    transform: translate(0, 0);
  }
}