@import '../../variables.scss';

.progress {
  & > text {
    fill: #0a89a9;
    font-weight: bold;
    font-size: 28px;
  }
  & > .arc {
    transform: rotate(270deg);
    transform-origin: center;
  }
}