@font-face {
  font-family: 'Kontora-Bold';
  src: url('Kontora-Bold.eot');
  src: url('Kontora-Bold.eot?#iefix') format('embedded-opentype'),
       url('Kontora-Bold.svg#Kontora-Bold') format('svg'),
       url('Kontora-Bold.ttf') format('truetype'),
       url('Kontora-Bold.woff') format('woff'),
       url('Kontora-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

