@import '../../variables.scss';

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  .navBarL {
    display: flex;
  }
  .navList {
    display: flex;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    align-items: center;
    & > li {
      margin: 0 0.5rem 0 0;
    }
  }
  .logo {
    font-size: $text-4xl;
    align-items: center;
    margin: 0 2rem 0 0;
  }
}
