@import '../../variables.scss';

.movieGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  .movieCard {
    @media all and (min-width: 550px) {
      flex-basis: 40%;
      margin: 12px;
    }
    @media all and (min-width: 768px) {
      flex-basis: 30%;
      margin: 12px;
    }
    @media all and (min-width: 1080px) {
      flex-basis: 20%;
      margin: 12px;
    }
  }
}
