@font-face {
  font-family: 'Kontora';
  src: url('./fonts/bold/Kontora-Bold.eot');
  src: url('./fonts/bold/Kontora-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/bold/Kontora-Bold.svg#Kontora-Bold') format('svg'),
       url('./fonts/bold/Kontora-Bold.ttf') format('truetype'),
       url('./fonts/bold/Kontora-Bold.woff') format('woff'),
       url('./fonts/bold/Kontora-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Kontora';
  src: url('./fonts/medium/Kontora-Medium.eot');
  src: url('./fonts/medium/Kontora-Medium.eot?#iefix') format('embedded-opentype'),
       url('./fonts/medium/Kontora-Medium.svg#Kontora-Medium') format('svg'),
       url('./fonts/medium/Kontora-Medium.ttf') format('truetype'),
       url('./fonts/medium/Kontora-Medium.woff') format('woff'),
       url('./fonts/medium/Kontora-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Kontora';
  src: url('./fonts/semiBold/Kontora-SemiBold.eot');
  src: url('./fonts/semiBold/Kontora-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/semiBold/Kontora-SemiBold.svg#Kontora-SemiBold') format('svg'),
       url('./fonts/semiBold/Kontora-SemiBold.ttf') format('truetype'),
       url('./fonts/semiBold/Kontora-SemiBold.woff') format('woff'),
       url('./fonts/semiBold/Kontora-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}