@import 'fonts.scss';

$colorWhite: #fff;
$colorGray-100: #f4f5f7;
$colorGray-400: #737e92;
$colorBlue-400: #091e42;
$colorBlue-300: #0052cc;
$colorRed: #de350b;
$colorYellow: #ffc54f;
$colorGreen: #84d1b0;

$popupBcgColor: rgba(115,126,146,0.5);

$shadowSubtle: 0px 1px 3px -1px rgba(9, 30, 66, 0.5);
$shadowSM: 0px 2px 3px -1px rgba(9, 30, 66, 0.25);
$shadowL: 0px 5px 9px -2px rgba(9, 30, 66, 0.3);

$rounded-sm: 0.25rem;
$rounded: 0.5rem;
$roundedXl: 1rem;
$roundedFull: 9999px;

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 4rem;

$textBold: 700;
$textSemiBold: 600;
$textMedium: 500;

$transitionS: 150ms;
$transitionM: 500ms;
